.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authForm {
  color: white;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 15px;
}
.submitBtn {
  cursor: pointer;
}