.card .inner {
  padding: 1em 1.5em;
  background: white;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  transition: all 0.3s ease;
}
.card:hover .inner {
  background: rgb(142, 142, 142);
  color: white;
}
.launchBtn {
  position: relative;
}
.launchBtn svg {
  position: absolute;
}
.launchBtn .line {
  fill: transparent;
}
.launchBtn .line:hover {
  cursor: pointer;  
  --speed: 2s;
  --outline-width: 4px;
  stroke-dasharray: 200;
  stroke-width: var(--outline-width);
  fill: transparent;
  stroke: rgb(255,215,0);
  animation: svgAnimation var(--speed) linear infinite;
}

@keyframes svgAnimation {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 400;
  }
}


