.mainGrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 1em;
}
.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-area: 1 / 1 / 11 / 5;
}
.mainControls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: 1 / 5 / 11 / 6;
}
.mainTimeline{
  width: 100%;
  grid-area: 11 / 1 / 12 / 6;
  margin: auto;
}
.cell {
  box-sizing: border-box;
  border-radius: .4em;
  border: 2px solid #353535;
  cursor: pointer;
  animation-name: cellAppear;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-delay: var(--delay);
}
.cell:hover {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}
.visited {
  animation-name: visitedAnimation;
  animation-duration: 4s;
  animation-fill-mode: both;
}
.path {
  animation-name: pathAnimation;
  animation-duration: 4s;
  animation-fill-mode: both;
}

.resultControlsHidden{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  visibility: hidden;
  margin-top: -.8em;
}

.resultControlsActive{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  visibility: visible;
  margin-top: -.8em;
}

.results {
  display: flex;
  flex-direction: column;
  color: white;
  border: 2px solid white;
  padding: .7em;
  border-radius: .5em;
}

@keyframes cellAppear {
  0% {
    transform: translate(0, 30px);
  }
  100% {
    background-color: var(--baseBackgroundColor, rgb(229, 229, 229));
    transform: translate(0, 0);
  }
}

@keyframes visitedAnimation {
  0% {
    background-color: var(--animationInitialBackgroundColor, rgb(229, 229, 229));
  }
  5% {
    background-color: rgb(255, 215, 0);
    box-shadow: 0 0 10px 5px rgb(255, 215, 0);
    z-index: 100;
  }
  100% {
    background-color: var(--animationFinalBackgroundColor, rgb(144, 122, 0));
  }
}

@keyframes pathAnimation {
  0% {
    background-color: var(--animationFinalBackgroundColor, rgb(144, 122, 0));
  }
  20% {
    background-color: rgb(0, 42, 255);
    box-shadow: 0 0 5px 5px rgb(0, 42, 255);
    z-index: 100;
  }
  100% {
    background-color: rgb(0, 140, 255);
  }
}
