.playButton{
  cursor: pointer;
}
.container{
  color: white;
  grid-area: 5 / 1 / 7 / 6;
  width: 100%;
  margin: auto;
  border-radius: .4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.container.disabled * {
  cursor: not-allowed !important;
}

.barContainer, .bar {
  border-radius: 9999px;
  height: 10px;
}
.barContainer{
  width: 100%;
  background-color: #f0f0f0;
}
.bar {
  width: 0%;
  background-color: rgb(255,215,0);
  position: relative;
}
.thumb {
  height: 20px;
  width: 20px;
  right: -10px;
  top: -50%;
  background-color: rgb(255,215,0);
  border-radius: 50%; 
  position: absolute;
}
.barContainer:hover {
  cursor: pointer;
  filter: brightness(85%);
  transform: scaleY(1.2);
  transition: transform 0.2s ease-in-out;
}
.barContainer:hover .thumb {
  transform: scale(1.3) scaleY(calc(1 / 1.2)); 
  transition: transform 0.2s ease-in-out;
}
.timeRender{
  white-space: nowrap;
  padding-left: 15px;
}
.speedControl{
  min-width: 60px;
  font-size: 20px;
  text-align: center;
}
.speedControl:hover{
  cursor: pointer;
}